{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <section class="banner-top uk-background-cover uk-text-center uk-panel uk-flex uk-flex-center uk-flex-middle"
             style="background-image: url({% static 'img/jpg/gal.jpg' %});">
        <div>
{#            <ul class="uk-breadcrumb">#}
{#                <li><a href="">название страницы</a></li>#}
{#                <li><a href="">название страницы</a></li>#}
{#                <li><span>название страницы</span></li>#}
{#            </ul>#}
            <h1>Галерея Beauty SPA</h1>
        </div>
    </section>
    <section class="gallery">
        <div class="uk-container">
            <div class="uk-flex uk-flex-middle uk-margin-medium-bottom uk-flex-between@m">
                <div class="controls uk-flex">
                    <button class="filter" data-filter="all">Все фото</button>
                    <button class="filter" data-filter=".category-1">Интерьер</button>
                    <button class="filter" data-filter=".category-2">Мир Beauty Spa</button>
                    <button class="filter" data-filter=".category-3">Продукция</button>
                    <button class="filter" data-filter=".category-4">Стиль жизни</button>
                </div>
            </div>
            <div class="gallery-content uk-grid uk-grid-collapse uk-child-width-1-5@l uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2"
                 uk-grid="" uk-lightbox="animation: slide">
                <div class="mix category-1">
                    <div class="item uk-cover-container uk-height-small" data-src="{% static 'img/jpg/m1.jpg' %}"><img
                            src="{% static 'img/jpg/m1.jpg' %}"
                            alt="" uk-cover="">
                    </div>
                </div>
                <div class="mix category-1">
                    <div class="item uk-cover-container uk-height-small" data-src="{% static 'img/jpg/m2.jpg' %}"><img
                            src="{% static 'img/jpg/m2.jpg' %}"
                            alt="" uk-cover="">
                    </div>
                </div>
                <div class="mix category-2">
                    <div class="item uk-cover-container uk-height-small" data-src="{% static 'img/jpg/m3.jpg' %}"><img
                            src="{% static 'img/jpg/m3.jpg' %}"
                            alt="" uk-cover="">
                    </div>
                </div>
                <div class="mix category-2">
                    <div class="item uk-cover-container uk-height-small" data-src="img/jpg/m4.jpg"><img
                            src="{% static 'img/jpg/m4.jpg' %}"
                            alt="" uk-cover="">
                    </div>
                </div>
                <div class="mix category-3">
                    <div class="item uk-cover-container uk-height-small" data-src="img/jpg/m1.jpg"><img
                            src="{% static 'img/jpg/m1.jpg' %}"
                            alt="" uk-cover="">
                    </div>
                </div>
                <div class="mix category-3">
                    <div class="item uk-cover-container uk-height-small" data-src="img/jpg/m2.jpg"><img
                            src="{% static 'img/jpg/m2.jpg' %}"
                            alt="" uk-cover="">
                    </div>
                </div>
                <div class="mix category-4">
                    <div class="item uk-cover-container uk-height-small" data-src="img/jpg/m1.jpg"><img
                            src="img/jpg/m1.jpg"
                            alt="" uk-cover="">
                    </div>
                </div>
                <div class="mix category-4">
                    <div class="item uk-cover-container uk-height-small" data-src="img/jpg/m2.jpg"><img
                            src="img/jpg/m2.jpg"
                            alt="" uk-cover="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}