{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block content %}
    <section class="home-slider uk-grid uk-grid-collapse uk-position-relative uk-child-width-1-2@m"
             uk-height-match="target: &gt; ul">
        <div class="slider-nav">
            {% for item in sliders %}
                <div class="uk-flex uk-flex-middle">
                    <div class="text uk-flex uk-flex-middle" data-padding="350">
                        <div class="uk-position-relative">
                            <div>
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.description }}</p>
                                {#                                <a class="uk-button uk-button-default" href="">Подробнее</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="slider-for uk-visible@m">
            {% for item in sliders %}
                <div class="uk-cover-container"><img data-lazy="{{ item.image.url }}" alt="" uk-cover="">
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="sponsor">
        <div class="uk-container">
            <div class="uk-grid uk-child-width-1-6@m uk-child-width-1-2@s uk-flex-middle" uk-grid="">
                {% for item in partners %}
                    <div class="uk-text-center"><img src="{{ item.logo.url }}" alt=""></div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="step">
        <div class="uk-grid uk-child-width-1-5@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-collapse"
             uk-height-match="target: &gt; div &gt; .item &gt; .title" uk-grid="">
            <div>
                <div class="item"><span>01</span>
                    <div class="image-wraper uk-cover-container"><img src="{% static 'img/jpg/l1.jpg' %}" alt=""
                                                                      uk-cover=""></div>
                    <div class="title uk-flex-middle uk-flex">
                        <h3>Диагностика и консультации</h3>
                    </div>
                    <a class="uk-button uk-button-default"
                       href="{% url 'service_view' slug='consulting' %}">Подробнее</a>
                </div>
            </div>
            <div>
                <div class="item"><span>02</span>
                    <div class="image-wraper uk-cover-container"><img src="{% static 'img/jpg/l2.jpg' %}" alt=""
                                                                      uk-cover=""></div>
                    <div class="title uk-flex-middle uk-flex">
                        <h3>Косметология и эстетическая медицина</h3>
                    </div>
                    <a class="uk-button uk-button-default" href="{% url 'service_view' slug='medicine' %}">Подробнее</a>
                </div>
            </div>
            <div>
                <div class="item"><span>03</span>
                    <div class="image-wraper uk-cover-container"><img src="{% static 'img/jpg/l3.jpg' %}" alt=""
                                                                      uk-cover=""></div>
                    <div class="title uk-flex-middle uk-flex">
                        <h3>SPA терапия</h3>
                    </div>
                    <a class="uk-button uk-button-default" href="{% url 'service_view' slug='spa' %}">Подробнее</a>
                </div>
            </div>
            <div>
                <div class="item"><span>04</span>
                    <div class="image-wraper uk-cover-container"><img src="{% static 'img/jpg/l4.jpg' %}" alt=""
                                                                      uk-cover=""></div>
                    <div class="title uk-flex-middle uk-flex">
                        <h3>Банный SPA</h3>
                    </div>
                    <a class="uk-button uk-button-default" href="{% url 'service_view' slug='bath_spa' %}">Подробнее</a>
                </div>
            </div>
            <div>
                <div class="item"><span>05</span>
                    <div class="image-wraper uk-cover-container"><img src="{% static 'img/jpg/l5.jpg' %}" alt=""
                                                                      uk-cover=""></div>
                    <div class="title uk-flex-middle uk-flex">
                        <h3>Арт и Бьюти студия</h3>
                    </div>
                    <a class="uk-button uk-button-default"
                       href="{% url 'service_view' slug='art_beauty' %}">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about_us">
        <div class="uk-container">
            <h3>Почему гости выбирают наш SPA</h3>
            <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-2@m" uk-grid="">
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab1.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Удобное расположение</h4>
                            <p>Мы находимся в самом центре города.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab2.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Комфорт и сервис</h4>
                            <p>Почуствуйте себя самой важной персоной</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab3.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Профессионализм персонала</h4>
                            <p>Доверьте себя настоящим волшебниц </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab4.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Роскошный интерьер</h4>
                            <p>Приходя к нам вы попадаете в уголок эстетизма и красоты </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab5.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Акцент на качестве</h4>
                            <p>Мы используем косметику и материалы для процедур ведущих произв</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab6.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Более 200 программ</h4>
                            <p>Множество программ, которые дают возможность постоянно получать</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-call-back uk-background-cover"
             style="background-image: url({% static 'img/jpg/banner.jpg' %});">
        <div class="uk-container">
            <div class="uk-flex uk-flex-right">
                <div class="item uk-text-center uk-flex uk-flex-middle"
                     uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">
                    <div><img src="{% static 'img/png/logo.png' %}" alt="">
                        <h3>Вы уже решили записаться на прием в SPA?</h3><a class="uk-button uk-button-default" href=""
                                                                            uk-toggle="target: #modal-form">Получить
                            консультацию</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="action uk-background-cover" style="background-image: url({% static 'img/jpg/action.jpg' %});">
        <div class="uk-container">
            <div class="uk-flex uk-flex-top uk-flex-between@m">
                <div class="uk-flex">
                    <div class="small-action-block uk-flex-inline uk-flex-middle uk-flex-center uk-text-center">
                        <div>
                            <h3>Акция</h3>
                            <h4>только в течении 24 часов</h4>
                        </div>
                    </div>
                    <div class="medium-action-block uk-flex-inline uk-flex-middle uk-flex-center uk-text-center">
                        <div>
                            <p>Запишитесь на <br> моделируйщий массаж <br><span>со скидкой 30%</span></p>
                            <h5>До конца акции осталось</h5>
                            <div>
                                <div class="uk-grid-small uk-child-width-auto uk-flex-center" uk-grid=""
                                     uk-countdown="date: 2019-04-12T08:41:41+00:00">
                                    <div>
                                        <div class="uk-countdown-number uk-countdown-days"></div>
                                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">
                                            Дней
                                        </div>
                                    </div>
                                    <div class="uk-countdown-separator">:</div>
                                    <div>
                                        <div class="uk-countdown-number uk-countdown-hours"></div>
                                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">
                                            Часов
                                        </div>
                                    </div>
                                    <div class="uk-countdown-separator">:</div>
                                    <div>
                                        <div class="uk-countdown-number uk-countdown-minutes"></div>
                                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">
                                            Минуты
                                        </div>
                                    </div>
                                    <div class="uk-countdown-separator">:</div>
                                    <div>
                                        <div class="uk-countdown-number uk-countdown-seconds"></div>
                                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">
                                            Секунд
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <form id="action-form-ajax" action="{% url 'post_application' %}" method="post">
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <legend class="uk-legend uk-text-center">Оставьте заявку чтобы <br> участвовать в акции
                                </legend>
                            </div>
                            <div class="uk-margin-small">
                                <input class="uk-input" type="text" placeholder="Имя" name="first_name" required>
                            </div>
                            <div class="uk-margin-small">
                                <input class="uk-input" type="text" placeholder="Фамилия" name="last_name"
                                       required>
                            </div>
                            <div class="uk-margin-small">
                                <input class="uk-input phone_us" type="text" placeholder="Телефон" name="phone_number"
                                       required>
                            </div>
                            <div class="uk-margin-small">
                                <input class="uk-input" type="text" placeholder="Email" name="email"
                                       required>
                            </div>

                            <div class="uk-margin">
                                <p>Все ваши данные конфедициальны</p>
                            </div>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-default" type="submit">Участвовать в акции</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="specialists">
        <div class="uk-container">
            <h3>Лучшие специалисты нашего SPA</h3>
            <div class="slider-specialist uk-position-relative uk-visible-toggle" uk-slider="">
                <div class="uk-slider-container">
                    <div class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid">
                        {% for item in members %}
                            <div>
                                <div class="item"><a class="uk-position-cover" href=""></a>
                                    <div class="image-wrapper uk-cover-container">
                                        {% thumbnail item.image "270x300" as im %}
                                            <img src="{{ im.url }}" alt="" uk-cover="">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="text-block">
                                        <div class="uk-margin">
                                            <h6>{{ item.profession }}</h6>
                                            <h5>{{ item.full_name }}</h5>
                                        </div>
                                        <div class="uk-margin">
                                            <p>{{ item.description|truncatechars:200 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="uk-light uk-hidden@s"><a class="uk-position-center-left uk-position-small" href="#"
                                                     uk-slidenav-previous="" uk-slider-item="previous"></a><a
                        class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next=""
                        uk-slider-item="next"></a></div>
                <div class="uk-visible@s"><a class="uk-position-center-left-out uk-position-small" href="#"
                                             uk-slidenav-previous="" uk-slider-item="previous"></a><a
                        class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next=""
                        uk-slider-item="next"></a></div>
            </div>
            <div class="uk-text-center uk-margin"><a class="uk-button uk-button-default" href="">Все специалисты</a>
            </div>
        </div>
    </section>
    <section class="guests">
        <div class="uk-container">
            <h3>Отзывы наших гостей</h3>
            <div class="uk-width-3-4@m uk-margin-auto">
                <div class="slider-guests uk-position-relative uk-visible-toggle" uk-slider="">
                    <div class="uk-slider-container">
                        <div class="uk-slider-items uk-child-width-1-1  uk-grid">
                            {% for item in reviews %}
                                <div>
                                    <div class="item uk-padding-large">
                                        <ul class="uk-subnav uk-subnav-pill uk-child-width-1-3"
                                            uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                                            <li><a class="uk-cover-container" href="#">
                                                {% thumbnail item.image "187x120" as im %}
                                                    <img src="{{ im.url }}" alt="" uk-cover="">
                                                {% endthumbnail %}
                                            </a></li>
                                        </ul>
                                        <ul class="uk-switcher">
                                            <li><b>{{ item.full_name }}</b>
                                                <p>{{ item.text }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="uk-light uk-hidden@s"><a class="uk-position-center-left uk-position-small" href="#"
                                                         uk-slidenav-previous="" uk-slider-item="previous"></a><a
                            class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next=""
                            uk-slider-item="next"></a></div>
                    <div class="uk-visible@s"><a class="uk-position-center-left-out uk-position-small" href="#"
                                                 uk-slidenav-previous="" uk-slider-item="previous"></a><a
                            class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next=""
                            uk-slider-item="next"></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-call-back uk-background-cover"
             style="background-image: url({% static 'img/jpg/banner2.jpg' %});">
        <div class="uk-container">
            <div class="uk-flex uk-flex-left">
                <div class="item uk-text-center uk-flex uk-flex-middle"
                     uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">
                    <div><img src="{% static 'img/png/logo.png' %}" alt="">
                        <h3>Вы уже решили записаться на прием в SPA?</h3><a class="uk-button uk-button-default" href=""
                                                                            uk-toggle="target: #modal-form">Получить
                            консультацию</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="spa-kitchen">
        <div class="bg-image" style="background-image: url({% static 'img/jpg/kitchen.jpg' %});"></div>
        <div class="uk-container">
            <div class="uk-grid uk-grid-collapse uk-child-width-1-2@m" uk-grid="">
                <div></div>
                <div>
                    <div class="item">
                        <h3>СПА Кухня</h3>
                        <p>Возьмите немного яичного белка при приготовлении омлета и нанесите на очищенную кожу лица на
                            20 минут, а затем смойте. Яичный белок обладает лифтинговыми свойствами и немного подтянет
                            контур лица.</p>
                        <div class="uk-margin-medium uk-margin-remove-bottom">
                            <h4>Что ждет вас на кухне</h4>
                        </div>
                        <div class="uk-grid uk-grid-small uk-child-width-1-2@m">
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k1.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Правильное питание</p>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k2.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Большой ассортимент блюд</p>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k3.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Комфортное место</p>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k4.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Профессиональные повара</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium uk-margin-remove-bottom"><a class="uk-button uk-button-default"
                                                                                 href=""
                                                                                 uk-toggle="target: #modal-form">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cosmetic-boutique">
        <div class="bg-image">
            <div class="cosmetic-boutique-slider uk-flex uk-flex-middle">
                <div>
                    <div class="uk-cover-container image"><img src="{% static 'img/png/kb.png' %}" alt=""></div>
                    <div class="text">
                        <h3 class="uk-margin-remove">Salin de Biosel</h3>
                        <p class="uk-margin-remove">Профессиональная косметика класса люкс</p>
                    </div>
                </div>
                <div>
                    <div class="uk-cover-container image"><img src="{% static 'img/png/kb.png' %}" alt=""></div>
                    <div class="text">
                        <h3 class="uk-margin-remove">Salin de Biosel</h3>
                        <p class="uk-margin-remove">Профессиональная косметика класса люкс</p>
                    </div>
                </div>
                <div>
                    <div class="uk-cover-container image"><img src="{% static 'img/png/kb.png' %}" alt=""></div>
                    <div class="text">
                        <h3 class="uk-margin-remove">Salin de Biosel Bottom</h3>
                        <p class="uk-margin-remove">Профессиональная косметика класса люкс Профессиональная косметика
                            класса люкс</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-container">
            <div class="uk-grid uk-grid-collapse uk-child-width-1-2@m" uk-grid="">
                <div>
                    <div class="item">
                        <h3>Косметический бутик</h3>
                        <p>Подарить коже максимально полноценный уход, сделать ее, словно светящейся от молодости,
                            поможет специальная косметика высокого качества.</p>
                        <div class="uk-margin-medium uk-margin-remove-bottom">
                            <h4>Преимущества косметики</h4>
                        </div>
                        <div class="uk-grid uk-grid-small uk-child-width-1-2@m">
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k5.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Проверенные производители</p>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k6.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Гарантия качества</p>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k7.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Натуральные ингридиенты</p>
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-small uk-grid-small uk-flex-middle">
                                <div class="uk-width-auto@m"><img src="{% static 'img/png/k8.png' %}" alt=""></div>
                                <div class="uk-width-expand">
                                    <p>Косметика для тела</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium uk-margin-remove-bottom"><a class="uk-button uk-button-default"
                                                                                 href=""
                                                                                 uk-toggle="target: #modal-form">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </section>
    <section class="gift_certificates">
        <div class="uk-container">
            <div class="uk-text-center"><img src="{% static 'img/png/super.png' %}" alt="">
                <h4>Подарочные сертификаты</h4>
                <p>«Beauty SPA» с удовольствием предлагает Вам свои подарки — подарочные сертификаты с безграничным
                    номиналом и курьерской доставкой в любую точку Бишкека. </p><a class="uk-button uk-button-default"
                                                                                   href=""
                                                                                   uk-toggle="target: #modal-form">Подробнее</a>
            </div>
        </div>
    </section>
    <section class="gallery">
        <div class="uk-container">
            <div class="uk-flex uk-flex-middle uk-margin-medium-bottom uk-flex-between@m">
                <div class="uk-flex">
                    <h3>Галерея SPA</h3>
                </div>
                <div class="controls uk-flex">
                    <button class="filter" data-filter="all">Все фото</button>
                    <button class="filter" data-filter=".category-1">Интерьер</button>
                    <button class="filter" data-filter=".category-2">Мир Beauty Spa</button>
                    <button class="filter" data-filter=".category-3">Продукция</button>
                    <button class="filter" data-filter=".category-4">Стиль жизни</button>
                </div>
            </div>
            <div class="gallery-content uk-grid uk-grid-collapse uk-child-width-1-5@l uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2"
                 uk-grid="" uk-lightbox="animation: slide">
                {% for item in gallery %}
                    {% if item.type_of_gallery == 'interior' %}
                        <div class="mix category-1">
                            <div class="item uk-cover-container uk-height-small"
                                 data-src="{{ item.image.url }}">
                                <img
                                        src="{{ item.image.url }}" alt="" uk-cover=""></div>
                        </div>
                    {% endif %}
                    {% if item.type_of_gallery == 'world_of_beauty' %}
                        <div class="mix category-2">
                            <div class="item uk-cover-container uk-height-small" data-src="{{ item.image.url }}">
                                <img
                                        src="{{ item.image.url }}" alt="" uk-cover=""></div>
                        </div>
                    {% endif %}
                    {% if item.type_of_gallery == 'products' %}
                        <div class="mix category-3">
                            <div class="item uk-cover-container uk-height-small" data-src="{{ item.image.url }}">
                                <img
                                        src="{{ item.image.url }}" alt="" uk-cover=""></div>
                        </div>
                    {% endif %}
                    {% if item.type_of_gallery == 'life_style' %}
                        <div class="mix category-4">
                            <div class="item uk-cover-container uk-height-small" data-src="{{ item.image.url }}">
                                <img
                                        src="{{ item.image.url }}" alt="" uk-cover=""></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="about_us">
        <div class="uk-container">
            <h3>Дополнительный сервис</h3>
            <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-2@m" uk-grid="">
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab1.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Бронирование на заказ</h4>
                            <p>Добавьте краткое описание ваших преимуществ, чтобы показать лучшее из вашего продукта,
                                услуги.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab2.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Бесплатная парковка</h4>
                            <p>Добавьте краткое описание ваших преимуществ, чтобы показать лучшее из вашего продукта,
                                услуги.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab3.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Онлайн покупки</h4>
                            <p>Добавьте краткое описание ваших преимуществ, чтобы показать лучшее из вашего продукта,
                                услуги.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab4.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Визажист на дом</h4>
                            <p>Добавьте краткое описание ваших преимуществ, чтобы показать лучшее из вашего продукта,
                                услуги.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab5.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Полотенца, мыло, шампунь включено</h4>
                            <p>Добавьте краткое описание ваших преимуществ, чтобы показать лучшее из вашего продукта,
                                услуги.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-grid uk-grid-collapse">
                        <div class="image-wrapper uk-cover-container"><img src="{% static 'img/jpg/ab6.jpg' %}" alt=""
                                                                           uk-cover="">
                        </div>
                        <div class="uk-width-expand text">
                            <h4>Полное конфедициальность</h4>
                            <p>Добавьте краткое описание ваших преимуществ, чтобы показать лучшее из вашего продукта,
                                услуги.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}