{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <section class="banner-top information-block uk-background-cover uk-text-center "
             style="background-image: url({% static 'img/jpg/info.jpg' %});">
        <div class="uk-container">
            {#            <ul class="uk-breadcrumb">#}
            {#                <li><a href="">название страницы </a></li>#}
            {#                <li><a href="">название страницы</a></li>#}
            {#                <li><span>название страницы</span></li>#}
            {#            </ul>#}
            <div class="uk-margin-large uk-width-2-3@m uk-margin-auto">
                <h1>Правовая информация </h1>
                <p>Право собственности: Этот сайт и содержащаяся на нем информация находятся под защитой международных
                    соглашений и французского закона об интеллектуальной собственности.</p>
            </div>
            <div class="infromation_slider" uk-height-match="target: &gt; div &gt; div &gt; div &gt; div &gt; h6">
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/in1.png' %}" alt=""></div>
                    <div class="text">
                        <h6>Согласие о конфиденциальности</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/in2.png' %}" alt=""></div>
                    <div class="text">
                        <h6>Политика салона</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/in3.png' %}" alt=""></div>
                    <div class="text">
                        <h6>Согласие на обработку персональных данных</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/in4.png' %}" alt=""></div>
                    <div class="text">
                        <h6>Правила продажи</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}