{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

    <section class="banner-top uk-background-cover uk-text-center uk-panel uk-flex uk-flex-center uk-flex-middle"
             style="background-image: url({% static 'img/jpg/bot.jpg' %});">
        <div>
            {#            <ul class="uk-breadcrumb">#}
            {#                <li><a href="">название страницы </a></li>#}
            {#                <li><a href="">название страницы</a></li>#}
            {#                <li><span>название страницы</span></li>#}
            {#            </ul>#}
            <h1>Лицензии</h1>
        </div>
    </section>
    <section class="license">
        <div class="uk-container">
            <div class="uk-placeholder">
                <p>Для чего нам нужны правила в таком волшебном месте, как SPA? Формулируются они для того, чтобы
                    обеспечить максимальный комфорт и результативность. Примем как аксиому, что все сотрудники SPA
                    руководствуются в своей работе специально разработанными нормами SPA-этикета. И помня, что «магия
                    SPA» – это процесс двусторонний, рассмотрим основные «права и обязанности» клиентов.</p>
            </div>
            <div class="uk-grid uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid="">
                {% for item in licenses %}
                    <div>
                        <div class="item"><img src="{{ item.image.url }}" alt=""></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}