{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <section class="banner-top uk-background-cover uk-text-center uk-panel uk-flex uk-flex-center uk-flex-middle"
             style="background-image: url({{ page_image.image.url }});">
        <div>
            {#            <ul class="uk-breadcrumb">#}
            {#                <li><a href="">название страницы </a></li>#}
            {#                <li><a href="">название страницы</a></li>#}
            {#                <li><span>название страницы</span></li>#}
            {#            </ul>#}
            <h1>Отзывы клиентов</h1>
        </div>
    </section>
    <section class="revius">
        <div class="uk-container">
            <div class="uk-grid uk-child-width-1-2@m" uk-grid="">
                {% for item in reviews %}
                    <div>
                        <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                            <div class="image uk-cover-container"><img src="{{ item.image.url }}"
                                                                       uk-cover=""
                                                                       alt=""></div>
                            <div class="text">
                                <h4>{{ item.full_name }}</h4>
                                <p>{{ item.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="uk-margin-medium uk-text-center see-more"><a class="uk-button uk-button-default" href=""><span
                    class="icon" uk-icon="icon: refresh"></span><span>Загрузить еще</span></a></div>
        </div>
    </section>
{% endblock %}