{% extends 'base.html' %}


{% load staticfiles %}


{% block content %}
    <div id="modal-overflow" uk-modal>

    </div>

    <section class="banner-top information-block uk-background-cover uk-text-center "
             style="background-image: url({{ page_image.image.url }});">
        <div class="uk-container">
            {#            <ul class="uk-breadcrumb">#}
            {#                <li><a href="">название страницы </a></li>#}
            {#                <li><a href="">название страницы</a></li>#}
            {#                <li><span>название страницы</span></li>#}
            {#            </ul>#}
            <div class="uk-margin-large uk-width-2-3@m uk-margin-auto">
                <h1>Спецпредложения</h1>
                <p>Мы распологаем ряд бонусных систем и клубных карт для удобства клиентов их получение, а так тут будет
                    текст с кратким описанием</p>
            </div>
            <div class="infromation_slider" uk-height-match="target: &gt; div &gt; div &gt; div &gt; div &gt; h6">
                {% for item in offers %}
                    <a href="{% url 'ajax_offer_detail' %}?offer_id={{ item.id }}" class="offer_detail">
                        <div class="item">
                            <div class="image"><img src="{{ item.image.url }}" alt=""></div>
                            <div class="text">
                                <h6>{{ item.get_category_display }}</h6>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            $(".offer_detail").on('click', function (e) {
                e.preventDefault();

                var url = $(this).attr('href'); // the script where you handle the form input.

                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (response) {
                        $('#modal-overflow').html(response)
                        UIkit.modal('#modal-overflow').toggle()
                    }
                });

                // avoid to execute the actual submit of the form.
            });
        });
    </script>
{% endblock %}