{% extends 'base.html' %}


{% load staticfiles %}


{% block content %}

    <section class="banner-top information-block uk-background-cover uk-text-center "
             style="background-image: url({% static 'img/jpg/off.jpg' %});">
        <div class="uk-container">
{#            <ul class="uk-breadcrumb">#}
{#                <li><a href="">название страницы </a></li>#}
{#                <li><a href="">название страницы</a></li>#}
{#                <li><span>название страницы</span></li>#}
{#            </ul>#}
            <div class="uk-margin-large uk-width-2-3@m uk-margin-auto">
                <h1>Спецпредложения</h1>
                <p>Мы распологаем ряд бонусных систем и клубных карт для удобства клиентов их получение, а так тут будет
                    текст с кратким описанием</p>
            </div>
            <div class="infromation_slider" uk-height-match="target: &gt; div &gt; div &gt; div &gt; div &gt; h6">
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/i1.png' %}" alt=""></div>
                    <div class="text">
                        <h6>Клубные карты Beauty SPA</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/i2.png' %}" alt=""></div>
                    <div class="text">
                        <h6>Бонусная система</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/i3.png' %}" alt=""></div>
                    <div class="text">
                        <h6>SPA –party и SPA –вечеринки </h6>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="{% static 'img/png/i4.png' %}" alt=""></div>
                    <div class="text">
                        <h6>Cезонные предложения </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}